QWidget#Fen
{
	background-color: rgba(255, 255, 255, 0);	
}
QLineEdit
{
	border-image: url(":/image/TextBox.png") 0, 0, 0, 0;
	border-radius: 4px;
	padding: 25px;
}
QPushButton#Corriger
{
	background-color: rgba(255, 255, 255, 0);
	background-image: url(":/image/Underline.png");
	background-repeat: no-repeat;
	background-position: bottom;
	margin: 0px;
	padding: 0px;
}
QPushButton#Quitter
{
	background-color: rgba(255, 255, 255, 0);
	background-image: url(":/image/Underline.png");
	background-repeat: no-repeat;
	background-position: bottom;
	margin: 0px;
	padding: 0px;
}
QPushButton#Astuce
{
	background-color: rgba(255, 255, 255, 0);
	background-image: url(":/image/Underline.png");
	background-repeat: no-repeat;
	background-position: bottom;
	margin: 0px;
	padding: 0px;
}
QLabel#LabelAstuce
{
	margin-left: 20px;
	margin-right: 20px;
}
QPushButton#Cross
{
	background-color: rgba(255, 255, 255, 0);
	background-image: url(none);
	margin-top: 30px;
	margin-right: 50px;
}
QPushButton#mini
{
	background-color: rgba(255, 255, 255, 0);
	background-image: url(none);
	margin-top: 25px;
	margin-right: 5px;
}
QPushButton#Precedent
{
	background-color: rgba(255, 255, 255, 0);
	background-image: url(":/image/Previous.png");
}
QPushButton#Suivant
{
	background-color: rgba(255, 255, 255, 0);
	background-image: url(":/image/Next.png");
}
QPushButton#OkBouton
{
	background-color: rgba(255, 255, 255, 0);
	background-image: url(none);
	padding: 3px;
}
QPushButton#OkBouton:pressed 
{ 
	color: rgb(255,169,50); 
}
